# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Output files
adam/*.rds
adam/*.xpt
adam/*.csv
logs/*.log

# Quarto
.quarto/
*_cache/
*_files/
_output/

# LaTeX
*.aux
*.log
*.out
*.toc
*.tex

# OS
.DS_Store
Thumbs.db